.img{
    height: 200px;
    width: 300px;
    margin-top: 100px;
}

/*
 <textarea name="" id="text-input" cols="form-control form-control-lg"  placeholder="type anything........."><textarea>
 */